
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.5px solid black;
  border-radius: 12px;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
} 

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}

.newColor {
  color: blue;
  text-decoration: underline;
}

.yellowBg {
  background-color: yellow;
}