.box {
    display: flex;
    height: 150px;
    width: 200px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: pink;
    border: 1px solid black;
    border-radius: 5spx;
}

.childbox {
    display: flex;
    height: 40%;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 4px;
}