body {
    height: 100vh;
    
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#box {
    height: 250px;
    width: 300px;
    border-radius: 8px;
    background-color:rgb(255, 241, 82);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

#inp {
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: 1px solid black;
}

#btn {
    padding: 10px 30px;
    border-radius: 8px;
    color: #fff;
    background-color:rgb(0, 17, 255);
    outline: none;
    border: none;
}